
#contactForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style for form submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Blue color for button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for form submit button on hover */
button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}